/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1, h2, p, a {
    color: #333;
}

/* Main styles for the circular container */
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

/* Animation for the circular container */
@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.circle {
    animation: fadeInScaleUp 1s ease-in-out;
}

/* Recent project list */
.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.project-list a:hover {
    color: #0056b3;
}